In [2]:
import pandas as pd

In [4]:
room_data = pd.read_excel("Search Result - U HOSP.xlsx")
room_data

,rmrecnbr,bldrecnbr,bld_descrshort,bld_descr50,floor,rmnbr,rmsqrft,rmstationcnt,deptid,rmtyp,...,falist,occlist,occdeptlist,grantdtlist,rmfnclist,fa_avail,fa_reserve,fa_na,refreshed_at,MGIS-Color
0,2098689,1000316,U HOSP,UNIVERSITY HOSPITAL,01,1A012V,196,0,500,30,...,NaN,NaN,NaN,NaN,Mechanical Area(0030) - 100%,0,0,0,NaN,NaN
1,2098690,1000316,U HOSP,UNIVERSITY HOSPITAL,01,1A025V,31,0,500,30,...,NaN,NaN,NaN,NaN,Mechanical Area(0030) - 100%,0,0,0,NaN,NaN
2,2098691,1000316,U HOSP,UNIVERSITY HOSPITAL,01,1A100,3268,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
3,2098692,1000316,U HOSP,UNIVERSITY HOSPITAL,01,1A100Z,1041,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
4,2098693,1000316,U HOSP,UNIVERSITY HOSPITAL,01,1A200X,169,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4135,2100790,1000316,U HOSP,UNIVERSITY HOSPITAL,BM,B.5H100X,263,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
4136,2100791,1000316,U HOSP,UNIVERSITY HOSPITAL,BM,B.5H280X,48,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
4137,2100792,1000316,U HOSP,UNIVERSITY HOSPITAL,BM,B.5H300X,275,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
4138,2186388,1000316,U HOSP,UNIVERSITY HOSPITAL,BM,B.5H300Z,224,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN
4139,2100793,1000316,U HOSP,UNIVERSITY HOSPITAL,BM,B.5K100X,98,0,500,20,...,NaN,NaN,NaN,NaN,Circulation Area(0020) - 100%,0,0,0,NaN,NaN

In [4]:
dict_df = pd.read_excel('UHospF2PortMapping.xlsx', 
                   sheet_name=['2G304C', '2F478C', '2F330C', '2F435C', '2F306C'])

len(dict_df)

5

In [5]:
# room_data_filtered = room_data[room_data["rmrecnbr"].isin(lst)][["rmrecnbr", "occdeptlist", "rmnbr"]]
# room_data_filtered

In [7]:
filtered_dfs = []

for dfkey in dict_df:
    df = dict_df.get(dfkey)
    filtered_df = room_data[room_data["rmnbr"].isin(df["rmnbr"])][["rmrecnbr", "occdeptlist", "rmnbr"]]
#     filtered_dfs.append(filtered_df)
    writer = pd.ExcelWriter(f"{dfkey}.xlsx")
    filtered_df.to_excel(writer, index = False)
    writer.close()

In [5]:
filtered_dfs = []

for dfkey in dict_df:
    df = dict_df.get(dfkey)
    filtered_df = room_data[room_data["rmnbr"].isin(df["rmnbr"])][["rmrecnbr", "occdeptlist", "rmnbr"]]
    filtered_dfs.append(filtered_df)


writer = pd.ExcelWriter("All_rooms.xlsx")
result_df.to_excel(writer, index = False)
writer.close()

In [9]:
filtered_dfs = []

for dfkey in dict_df:
    df = dict_df.get(dfkey)
    filtered_df = df[~df["rmnbr"].isin(room_data["rmnbr"])]
    filtered_dfs.append(filtered_df)

result_df = pd.concat(filtered_dfs, ignore_index=True)

writer = pd.ExcelWriter("notfound.xlsx")
result_df.to_excel(writer, index = False)
writer.close()

          rmnbr  Unnamed: 1 Unnamed: 2
0        2F200Z         NaN        NaN
1         2F232         NaN        NaN
2         2F339         NaN        NaN
3         2F360         NaN        NaN
4         2F480         NaN        NaN
..          ...         ...        ...
67        3D215         NaN        NaN
68        TV 05         NaN        NaN
69        TV 06         NaN        NaN
70        TV 07         NaN        NaN
71  WEST CAMERA         NaN        NaN

[72 rows x 3 columns]